body {
    background-color: black;
}

.navbar {
    background-color: gray;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.gameIcon {
    width: auto;
    height: 50px;
}

h1 {
    color: white;
    font-family: Consolas;
    margin-left: 5px;
}

ul {
    list-style-type: none;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-family: Consolas;
    font-size: 20px;
    padding: 8px;
}

li {
    display: inline;
}

li:hover {
    background-color: darkgray;
}

.textbox {
    background-color: gray;
    margin-top: 100px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h3 {
    color: white;
    font-family: Consolas;
    text-align: center;
}

h4 {
    color: white;
    font-family: Consolas;
    margin-left: 20px;
}

p {
    color: white;
    font-family: Consolas;
    margin-left: 20px;
}

#mailto {
    text-decoration: none;
    color: white;
    font-family: Consolas;
    font-size: 15px;
    padding: 1px;
}

.tab {
    margin-left: 40px;
}

.highlight {
    color: #00FFFF;
}

.factoryLV {
    color: rgb(85, 85, 85);
}

.dungeonLV {
    color: purple;
}

.satelliteLV {
    color: rgb(229, 228, 228);
}

.golden {
    color: yellow;
}

.danger {
    color: red;
}

.img {
    width: auto;
    height: 200px;
    margin-left: 40px;    
}

.imgIcon {
    width: auto;
    height: 75px;
    margin-left: 40px;
}

.imgIconvar1 {
    width: auto;
    height: 50px;
    margin-left: 40px;
}

.imgIconvar2 {
    width: auto;
    height: 110px;
    margin-left: 40px;    
}

.imgIconvar3 {
    width: auto;
    height: 35px;
    margin-left: 40px;    
}